{% extends "base.html" %}

<!-- Title -->
{% block title %}History{% endblock %}

<!-- Page Content -->
{% block content %}
<div class="container">
  <h2>Query History</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Source</th>
        <th>Destination</th>
        <th>Distance (km)</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for query in queries %}
      <tr>
        <td>{{ query.source_address }}</td>
        <td>{{ query.destination_address }}</td>
        <td>{{ query.distance }}</td>
        <td>{{ query.created_at }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
